.service-container {
  background-color: black;
}
.serviceWrapper {
  width: 90%;
  margin: auto;
  padding: 5vmax 0;
  color: white;
  margin-top: 300px;
  position: relative;
}
.for-jobseekers {
  position: relative;
}

.for-employers {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 10%;
}
.jsDetails,
.feDetails {
  width: 50%;
  /* padding-top: 8%; */
  line-height: 1.8vmax;
  text-align: justify;
  font-size: 1.3vmax;
}
.jsDetails > h1,
.feDetails > h1 {
  font-size: 2.6vmax;
}
.jsDetails > h4,
.feDetails > h4 {
  color: #01b178;
  margin: 0;
}
.jsDetails > button,
.feDetails > button {
  cursor: pointer;
  width: 250px;
  height: 50px;
  border: none;
  background-color: #ffdd00;
  font-size: 1.2vmax;
  font-weight: 500;
  border-radius: 5px;
}
.jsDetails > button:hover,
.feDetails > button:hover {
  background-color: #f1b502;
}
.feCover,
.jsCover {
  width: 35vw;
  height: fit-content;
  position: absolute;
  border-radius: 25px;
  overflow: hidden;
}
.jsCover {
  margin-left: 60%;
  margin-top: -20%;
}
.feCover {
  margin-top: 15%;
}
.jsImg,
.feImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* .feDetails {
  margin-bottom: 5vmax;
} */

.our-expertise {
  padding-top: 300px;
  padding-bottom: 80px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.our-expertise {
  display: flex;
  justify-content: space-around;
}
.exDetails {
  position: relative;
  width: 40%;
  text-align: justify;
  line-height: 25px;
}
.exDetails > h4 {
  color: #039e6d;
  margin: 0;
}
.exDetails > ul {
  padding: 0;
}
.exDetails > ul > li {
  list-style: none;
}
.exCover {
  width: 45vw;
  height: 40vh;
}
.exImg {
  width: 100%;
  object-fit: cover;
  /* width: 60vh; */
  margin-top: 80px;
  box-shadow: 10px 15px 20px 5px rgb(2, 2, 2);
  /* height: 550px; */
}
.exIcon {
  position: absolute;
  padding-top: 4px;
  color: rgb(6, 155, 108);
}
.exDetails > ul > li > span {
  padding-left: 30px;
  font-weight: 500;
}
