.serviceWrapper {
  width: 100%;
  height: max-content;
  background-color: black;
  color: white;
  margin-top: 300px;
}
.for-jobseekers,
.for-employers,
.our-expertise {
  display: flex;
  justify-content: space-around;
}
.jsDetails,
.feDetails {
  width: 40%;
  padding-top: 50px;
  line-height: 30px;
  text-align: justify;
}
.jsDetails > h4,
.feDetails > h4 {
  color: #01b178;
  margin: 0;
}
.jsDetails > button,
.feDetails > button {
  cursor: pointer;
  width: 250px;
  height: 50px;
  border: none;
  background-color: #ffdd00;
  font-size: medium;
  font-weight: 500;
  border-radius: 5px;
}
.jsDetails > button:hover,
.feDetails > button:hover {
  background-color: #f1b502;
}

.jsImg,
.feImg {
  width: 500px;
  height: 550px;
  border-radius: 25px;
}
.jsImg {
  margin-top: -180px;
}
.for-employers {
  margin-top: 100px;
}
.feImg {
  margin-bottom: -630px;
}
.feDetails {
  padding: 70px 0px;
}

.our-expertise {
  /* width: 80%; */
  margin: 300px auto 0 auto;
}

.exDetails {
  width: 40%;
  text-align: justify;
  line-height: 25px;
}
.exDetails > h4 {
  color: #039e6d;
  margin: 0;
}
.exDetails > ul {
  padding: 0;
}
.exDetails > ul > li {
  list-style: none;
}
.exImg {
  /* width: 80%; */
  width: 60vh;
  margin-top: 80px;
  box-shadow: 10px 15px 20px 5px rgb(2, 2, 2);
  /* height: 550px; */
}
.exIcon {
  position: absolute;
  padding-top: 4px;
  color: rgb(6, 155, 108);
}
.exDetails > ul > li > span {
  padding-left: 30px;
  font-weight: 500;
}
