body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.featuredContainer {
  display: flex;
  width: 90%;
  margin: 80px auto 80px auto;
}
.ftitle {
  width: 30%;
  margin: 0;
  padding-right: 80px;
  font-weight: 500;
}
.longArrow {
  font-size: 40px;
  position: absolute;
  color: #f1b502;
  padding-top: 1px;
  margin-left: 20px;
}
