body {
  margin: 0;
  font-family: "Urbanist", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue";
}
main > div.findJob {
  width: 90%;
  margin: auto;
}
.featuredContainer {
  display: flex;
  width: 90%;
  margin: 80px auto 80px auto;
}
h1.ftitle {
  width: 30%;
  margin: 0;
  padding-right: 80px;
  font-weight: 600;
  font-size: 3vmax;
}
.longArrow {
  font-size: 40px;
  position: absolute;
  color: #f1b502;
  padding-top: 1px;
  margin-left: 20px;
}
