.cover {
  width: 100%;
  /* object-fit: cover; */
  /* height: fit-content; */
  /* margin-top: 85px; */
}
.cover-container {
  position: relative;
  /* width: 100%; */
}

.cover-heading {
  position: absolute;
  color: white;
  width: 40%;
  border-left: 5px solid #f1b502;
  border-width: 8px;
  margin-top: 5rem;
  margin-left: 5rem;
  /* margin: auto; */
}
.cover-heading > h1,
h4 {
  margin: 0;
  margin-left: 20px;
}
.cover-heading > h4 {
  font-size: 14px;
  /* font-weight: 400; */
  margin-top: 20px;
  /* color: #ffdd00; */
  color: #01b178;
}
.cover-heading > h1 {
  font-size: 35px;
}
