.navbar {
  padding: 0;
}

.navWrapper {
  height: 10vh;
  z-index: 100;
  width: 100%;
  background-color: black;
  box-shadow: 0 2px 20px 0 rgb(71, 71, 71);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navContainer a {
  text-decoration: none;
  color: white;
}
.logo {
  width: 100%;
  height: 8vh;
}
.logoName span {
  font-size: 25px;
  color: #f1b502;
}
.navlist {
  margin-left: 20rem;
  width: 60%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.navlist > a {
  margin: auto;
  cursor: pointer;
  font-weight: 600;
}
.navlist > a:hover,
.navlist > a:focus {
  transition: all 0.3s linear;
  border-bottom: 3px solid #f1b502;
  transform: scale(1.1);
}

.logo-wrapper {
  display: flex;
  align-items: center;
}
.logo-wrapper a {
  text-decoration: none;
}
.logoName {
  font-size: 15px;
  list-style: none;
  color: white;
  display: inline;
  margin: 0;
  font-weight: bold;
}
