.footer-container {
  width: 100%;
  background-color: black;
  color: white;
  /* margin-top: 80px; */
}
.footerWrapper {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.about {
  width: 50%;
}
.about > .aDetails article,
.openningHours > ul > li > span,
.address span {
  font-size: 14px;
  line-height: 20px;
}

.address {
  padding-top: 20px;
}
.address span {
  display: inline-block;
  padding-bottom: 10px;
  margin-left: 50px;
}
.flagIcon {
  position: absolute;
  /* padding-top: 10px; */
}
.openningHours > ul,
.follow > ul {
  padding: 0;
}
.openningHours > ul > li {
  list-style: none;
  padding: 3px;
}
.footerWrapper h3 {
  color: #00a26e;
}
.steadfastLogo-container {
  display: flex;
  align-items: center;
}
.steadfast-logo {
  width: 32px;
  height: 30px;
  padding-right: 10px;
}
.openningIcon {
  position: absolute;
  padding-top: 4px;
  color: #f1b502;
}
.openningHours > ul > li > span {
  padding-left: 20px;
}

.follow {
  width: 70%;
  /* margin: auto; */
  /* padding: 30px 0; */
}
.follow > ul > li {
  list-style: none;
  font-size: 25px;
  cursor: pointer;
}
.follow > ul > li > a {
  color: white;
}
.follow ul li a:hover {
  transition: 0.5s ease;
  font-size: 30px;
  color: #00a26e;
}
.follow > ul {
  display: flex;
  justify-content: space-between;
}
.copyright {
  width: 35%;
  margin: auto;
  margin-top: 70px;
  padding-bottom: 10px;
}
.copyright > span {
  font-size: 12px;
}
