.searchContainer {
  width: 90%;
  margin: auto;
}
.searchMenu > ul {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
  /* padding-top: 20px; */
  font-size: 18px;
  font-weight: 600;
  color: rgb(92, 92, 92);
}
.searchMenu > ul > li {
  cursor: pointer;
}
