.ann-container {
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
  margin-left: 20px;
  overflow: hidden;
}
.ann-wrapper {
  display: flex;
  flex-shrink: 0;
  /* height: 50px; */
  align-items: center;
  animation: slide-left 30s linear infinite;
  font-family: impact, sans-serif;
  background: none;
}

.announcement {
  /* color: red; */
  font-size: 1rem;
  padding-left: 0.5em;
  color: #01b178;
}
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    /* -webkit-transform: translateX(-300%); */
    transform: translateX(-100%);
  }
}
